<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="navbar navbar-dark header fixed-top" th:fragment="header">
        <div class="container-fluid">	
            <a class="navbar-brand" th:href="@{/menu}">暗記アプリ</a>
            <form th:action="@{/logout}" method="post">
                
                <span class="text-light" th:text="|ログインID： ${#authentication.principal.username}|"></span>
                
                 <input type="submit" class="btn btn-danger ms-2 logout-btn" value="ログアウト"/>
            </form>
<!--            <p>現在時刻は[<span id="real-time"></span>]です</p>-->
        </div>
	</nav>
<!--    <script th:inline="javascript">-->
<!--      function updateTime() {-->
<!--        const now = new Date();-->
<!--        const timeString = now.toLocaleString('ja-JP', { hour: '2-digit', minute: '2-digit', second: '2-digit' });-->
<!--        document.getElementById('real-time').textContent = timeString;-->
<!--      }-->

<!--      setInterval(updateTime, 1000);-->
<!--      updateTime();-->
<!--    </script>-->
<script type= "text/javascript" th:src="@{/js/time.js}"></script>
</body>
</html>