<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:insert="~{common/sourceList :: sourceList}"></div>
	
    <nav class="navbar" th:fragment="menuHeader">
        <div class="container" >
                <div class="vertical-menu ">
                    <ul class="list-group">
                      <li class="list-group-item include"><a th:href="@{/deckMenu}"><i data-lucide="layers"></i>デッキ</a></li>
                      <li class="list-group-item"><a th:href="@{/cardMenu}"><i data-lucide="credit-card"></i>カード</a></li>
                      <li class="list-group-item"><a th:href="@{/cardDisplay}"><i data-lucide="repeat"></i>練習</a></li>
                      <li class="list-group-item"><a th:href="@{/selectDeck}"><i data-lucide="target"></i>問題挑戦</a></li>
					  <li class="list-group-item"><a th:href="@{/selectDeck}"><i data-lucide="help-circle"></i>問題挑戦</a></li>
                    </ul>
                    
                    <ul class="list-group list-user-group">
<!--                        <li class="list-group-item list-group-item-success list-group-item-action"><a th:href="@{/menu}">トップメニュー</a></li>-->
<!--                        <li class="list-group-item list-group-item-success list-group-item-action"><a th:href="@{/signup}" > ユーザー登録</a></li>-->
                        <li class="list-group-item"><a th:href="@{/menu}">トップメニュー</a></li>
                        <li class="list-group-item"><a th:href="@{/signup}" > ユーザー登録</a></li>
                    </ul>
                    
                </div>
        </div>
    </nav>
	<script th:src="@{/js/lucide.min.js}"></script>
	<script src="https://unpkg.com/lucide@latest"></script>
	<script>
	  document.addEventListener("DOMContentLoaded", function () {
	    lucide.createIcons();
	  });
	</script>
</body>
</html>