@charset "UTF-8";
 .table-row-active {
    background-color: #cce5ff;
    --bs-table-bg-state:#cce5ff;
}

.header {
    position: fixed;
    width: 100%;
    background-color:#0d9488;
/*    z-index: 100;*/
}

body {
/*    margin-left:200px;*/
/*    padding-left:200px;*/
}

/*.content {*/
/*        margin-left:200px;*/
/*            padding-left:200px;*/
/*margin: 0 auto;*/
/*    width:90%;*/
/*    box-sizing: border-box;*/
/*    max-width: 1024px;*/
/*    z-index: 10000;*/
/*}*/
.list-group-item {
    background-color: #D0F0E0;
    color:#444444; 
/*    color: #134e4a;   ティールの暗い色 */
}

.vertical-menu {
/*    scroll-margin-top: 56px;*/
/*    width: 200px;*/
    background-color: #D0F0E0;
    color:#444444; 
    font-weight: bold;
    width:12%;
    position: fixed;
    left: 0;
    top: 56px;
    height: calc(100vh - 56px);
    
/*    background-color:#d1e7dd;*/
/*    background-color:#a3cfbb;*/
/*    background-color:rgb(128, 128, 128);*/
    padding-top: 10px;
/*    margin-top: 56px;*/
    z-index: 1000;
    
        /* Flexboxを使用して内部要素を配置 */
        display: flex;
        flex-direction: column;
        justify-content: space-between;  /* 上部メニューと下部メニューを両端に配置 */
    
}
.vertical-menu a {
    background-color: #f8f9fa;
    color:#444444; 
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: left;
/*    margin: 10px 0;*/
}

.list-group:first-child {
    flex-grow: 0;
}
.list-user-group {
    margin-top: auto;  /* 上部との空間を自動調整 */
    margin-bottom: 20px;  /* 下部に余白を追加 */
    border-top: 1px solid #8bc3a4;  /* 区切り線を追加 */
    padding-top: 10px;
}
/*.list-user-group {*/
/*    position: relative;*/
/*}*/
/*.list-user-group-bottom {*/
    
/*}*/


svg.lucide {
	stroke: red !important;
/*  stroke: #0d9488;  目立つティール系カラーなど */
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 6px;
}
