<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>練習</title>
<style>
        /* 初期状態で回答を非表示にする */
        #answerSection {
            display: none;
        }
</style>
</head>
<body class="bg-body-secondary">
    <div th:insert="~{common/sourceList :: sourceList}"></div>
    <div th:replace="~{common/header :: header}"></div>
    <div th:replace="~{common/menuHeader :: menuHeader}"></div>
    <div class = "container mx-auto text-center content w-75 bg-white pb-3">
        <h1 class="text-center mt-5 pt-3">練習</h1>
        <div th:if="${practiceForm.deckId == null && practiceForm.cardId == null}"
                class="select-group">
            
            <h2 class="my-4 h3">デッキ選択</h2>
            <form th:action="@{/cardDisplay/deck}" method="post" th:object="${practiceForm}">
                
                <div class="align-items-center d-flex flex-row mb-3 justify-content-center">
                    <label class="col-form-label h4">デッキ：　</label>
                    <div class="col-3">
                        <select name="deckId" th:field="*{deckId}" class="form-select">
                            <option th:each="deck   : ${deckInfos}"
                                          th:value="${deck.deckId}"
                                          th:text="${deck.title}"></option>
                        </select>
                    </div>

                </div>

                <div class="mt-4"><button type="submit" class="btn btn-success">選択</button></div>
            </form>
        </div>
        <div th:if="${practiceForm.deckId != null && practiceForm.cardId == null}"
                class="select-group">
            <h2 class="my-4 h3">カード選択</h2>
            <form th:action="@{/cardDisplay/card}" method="post" th:object="${practiceForm}">
                <input type="hidden" name="deckId" th:value="${deckId}" />
                <div class="align-items-center d-flex flex-row mb-3 justify-content-center">
                    <label class="col-form-label h4">カード：　</label>
                    <div class="col-3">
                        <select name="cardId" th:field="*{cardId}" class="form-select">
                            <option th:each="card   : ${cardInfos}"
                                          th:value="${card.cardId}"
                                          th:text="${card.cardName}"></option>
                        </select>
                    </div>

                </div>
                <div class="mt-4"><button type="submit" class="btn btn-success">選択</button></div>
            </form>
        </div>
        
        
        <div th:if="${practiceForm.deckId != null && practiceForm.cardId != null}">
            <h2 th:text="'カード名：' + ${name}" class="h3 mt-4"></h2>
            <h3 class="mt-3 mb-3 text-start">問題</h3>
            <div class="text-start" style="background-color: #fffeed;">
                
                <p id="problemSection" th:utext="${question}" style="white-space:pre-wrap;">問題内容</p>
                <div class="text-center">
                    <img th:src="${questionImage}" style="max-width: 75%;">
                </div>
            </div>
            <div class="text-center">
                    <button id="showAnswerButton" type="button" class="mt-3 btn btn-outline-danger">解答を表示</button>
            </div>
            
            <div  id="answerSection" class="text-start mb-2">
                <h3 class="mt-5 text-start">解答</h3>
                <div style="background-color: #fffeed;">
                    <p th:utext="${answer}" class="text-danger ms-2" style="white-space:pre-wrap;">解答内容</p>
                    <div class="text-center">
                        <img th:src="${answerImage}" style="max-width: 75%;">
                    </div>
                </div>

            </div>
            <form th:action="@{/cardDisplay}" method="get">
                <div><button type="submit" class="mt-3 btn btn-success">デッキ選択に戻る</button></div>
            </form>
        </div>
<!--        <form class="form-group text-center mx-auto" th:action="@{/cardDisplay}" method="get" th:object = "${cardDisplayForm}">-->
<!--            <div class="text-center mt-4">-->
<!--                <div th:if="${cardDisplayForm.deckId == null}">-->
<!--                <div th:if="${cardDisplayForm.cardId == null}">-->
<!--                    <label>デッキ選択：</label>-->
<!--                    <select name="deckId" th:field="*{deckId}" class="col-4">-->
<!--                        <option th:each="deck : ${deckInfos}" th:value="${deck.deckId}" th:text="${deck.title}" th:selected="${deck.deckId == cardDisplayForm.deckId}">デッキ名</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="mt-3" th:if="${cardInfos != null}">-->
<!--                    <label>問題選択：</label>-->
<!--                    <select name="cardId" th:field="*{cardId}" class="col-4">-->
<!--                    <option th:each="card : ${cardInfos}" th:value="${card.cardId}" th:text="${card.cardName}" th:selected="${card.cardId == cardDisplayForm.cardId}">カード名</option>-->
<!--                    </select>-->
<!--                </div>               -->
<!--            </div>-->
<!--            <div  th:if="${cardDisplayForm.cardId != null}">-->
<!--                <div class="mt-3 text-start" style="background-color: #fffeed;">-->
<!--                    <h2>問題</h2>-->
<!--                    <p id="problemSection" th:utext="${question}" style="white-space:pre-wrap;">問題内容</p>-->
<!--                    <div class="text-center">-->
<!--                        <img th:src="${questionImage}">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="text-center">-->
<!--                        <button id="showAnswerButton" type="button">解答を表示</button>-->
<!--                </div> -->
<!--                <div  id="answerSection" class="mt-3 text-start" style="background-color: #fffeed; white-space:pre-wrap;">-->
<!--                    <h2>解答</h2>-->
<!--                    <p th:utext="${answer}" class="text-danger">解答内容</p>-->
<!--                    <div class="text-center">-->
<!--                        <img th:src="${answerImage}">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div><button type="submit" class="mt-3 btn btn-primary">表示</button></div>-->
<!--        </form>-->
        
    </div>
    <script type="text/javascript" th:src="@{/js/cardDisplay.js}"></script>
</body>
</html>