<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>カードメニュー</title>
</head>
<body>
    <div th:insert="~{common/sourceList :: sourceList}"></div>
    <div th:replace="~{common/header :: header}"></div>
    <div th:replace="~{common/menuHeader :: menuHeader}"></div>
    <div class = "container-fluid mx-auto text-center mt-5">
        <h1 class="text-center py-3">カードメニュー</h1>
    <div class="mt-3">
        <a th:href="@{/cardEditor}" class="btn btn-secondary mr-3">カード作成</a>
<!--        <a th:href="@{/cardFromCsv}" class="btn btn-secondary mx-3">カードファイル取得</a>-->
        <a th:href="@{/cardList}" class="btn btn-secondary">カード管理</a>
    </div>
    <div></div>
</body>
</html>