<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>問題挑戦</title>

</head>
<body class="bg-body-secondary">
    <div th:insert="~{common/sourceList :: sourceList}"></div>
    <div th:replace="~{common/header :: header}"></div>
    <div th:replace="~{common/menuHeader :: menuHeader}"></div>
    <div class = "container mx-auto text-center content  w-75 bg-white">

<form class="container" th:object=${cardDisplayForm}>
    
</form>
<!--    <div th:object="${cards}" hidden>-->
        
<!--    </div>-->
        <h1 th:text="${deck.title} + 'のデッキ'" class="text-center mt-5"></h1>

        
        <div  id="cardContainer" class="text-start mx-auto">
            <div class="mt-4  d-flex">
                <h2 class="text-start h4" th:text="'問題 ' + (${cardIndex} + 1)"></h2>
                <p class="ms-auto fw-bold" th:text="'前回 :' + ${beforeResult}"></p>
                
            </div>
            <p  id="question" class="text-xl font-semibold mb-4 ms-1 pt-3 pb-3" th:utext="${card.question}" style="background-color: #fffeed;  white-space:pre-wrap;"></p>
            <div class="text-center">
                <img th:src="${questionImage}" style="max-width: 75%;">
            </div>
            <div th:text="${imagePath}"></div>
            
            <div class="text-center mt-5 pb-5">
                <button id="showAnswerButton" class="btn btn-outline-secondary col-3">
                    解答表示
                </button>
            </div>
        
            <div id="answerContainer" class="hidden mt-4 mb-4 " style="display: none;">
                <p class="h4">解答</p>
                <div id="answer" class="mt-2 ms-1 text-danger"
                 th:utext="${card.answer}" style="background-color: #fffeed; white-space:pre-wrap;"></div>
                <div class="text-center">
                    <img th:src="${answerImage}" style="max-width: 75%;">
                </div>
                <div class="text-center mt-5 ">
                    <form th:action="@{/cardChallenge/{deckId}/{cardIndex}/result(deckId=${deck.deckId},cardIndex=${cardIndex})}"
                     method="post" class="pb-5">
<!--                        <input type="hidden" name="result" id="result"/>-->
                        <button type="submit" name="result" value="again" class="btn btn-outline-secondary me-2">もう一度</button>
                        <button type="submit" name="result" value="difficult" class="btn btn-outline-secondary me-2">難しい</button>
                        <button type="submit" name="result" value="incorrect" class="btn btn-outline-secondary me-2">不正解</button>
                        <button type="submit" name="result" value="correct" class="btn btn-outline-secondary me-2">正解</button>
                        <button type="submit" name="result" value="easy" class="btn btn-outline-secondary me-2">簡単</button>
                    </form> 
<!--                <div class="text-center mt-5">-->
<!--                        <button class="btn btn-outline-dark me-2">もう一度</button>-->
<!--                        <button class="btn btn-outline-dark me-2">難しい</button>-->
<!--                        <button class="btn btn-outline-dark me-2">不正解</button>-->
<!--                        <button class="btn btn-outline-dark me-2">正解</button>-->
<!--                        <button class="btn btn-outline-dark me-2">簡単</button>-->
<!--                </div>-->
             
            </div>
            
<!--            <form th:action="@{/cardChallenge/{deckId}/{cardIndex}(deckId=${deck.deckId},cardIndex=${cardIndex})}" -->
<!--            method="post" class="pb-3 text-center">-->
<!--                <button id="nextButton" type="submit" class="btn btn-outline-primary hidden col-3" style="display: none;">-->
<!--                    次へ-->
<!--                </button>-->
<!--            </form>-->
<!--           <div th:each="card : ${cards}" class="mt-3 w-75 mx-auto">-->
<!--               <h3 th:utext="${card.problem}"></h3>-->
<!--               <p th:utext="${card.answer}" style="display: none;"></p>-->
<!--               <button onclick="showAnswer(this)" class="btn btn-outline-primary">回答を表示</button>-->
<!--           </div>-->
<!--           <script>-->
<!--               function showAnswer(button) {-->
<!--                   button.previousElementSibling.style.display = 'block';-->
<!--                   button.style.display = 'none';-->
<!--               }-->
<!--           </script>-->
 
            </div>

        </div>
        <script>
            document.getElementById('showAnswerButton').addEventListener('click', function() {
                document.getElementById('answerContainer').style.display = 'block';
                this.style.display = 'none';
            });
        </script>
    </body>
</html>