<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>問題挑戦</title>

</head>
<body class="bg-body-secondary">
    <div th:insert="~{common/sourceList :: sourceList}"></div>
    <div th:replace="~{common/header :: header}"></div>
    <div th:replace="~{common/sideMenu :: sideMenu}"></div>
    <div class = "container mx-auto text-center content main-content bg-white">

	<form class="container" th:object=${cardDisplayForm}>
	    
	</form>

    <h1 th:text="${deck.title} + 'のデッキ'" class="text-center mt-5"></h1>
        <div  id="cardContainer" class="text-start mx-auto">
            <div class="mt-4  d-flex">
                <h2 class="text-start h4" th:text="'問題 ' + (${cardIndex} + 1)"></h2>
                <p class="ms-auto fw-bold" th:text="'前回 :' + ${beforeResult}"></p>
            </div>
            <p  id="question" class="text-xl font-semibold mb-4 ms-1 pt-3 pb-3" th:utext="${card.question}" style="background-color: #fffeed;  white-space:pre-wrap;"></p>
            <div class="text-center" th:if="${card.questionImageUrl != null}">
                <img th:src="${card.questionImageUrl}" style="max-width: 75%;">
            </div>
            
            <div class="text-center mt-5 pb-5">
                <button id="showAnswerButton" class="btn btn-outline-secondary col-3">
                    解答表示
                </button>
            </div>
        
            <div id="answerContainer" class="hidden mt-4 mb-4 " style="display: none;">
                <p class="h4">解答</p>
                <div id="answer" class="mt-2 ms-1 text-danger"
                 th:utext="${card.answer}" style="background-color: #fffeed; white-space:pre-wrap;"></div>
                <div class="text-center " th:if="${card.answerImageUrl != null}">
                    <img th:src="${card.answerImageUrl}" style="max-width: 75%;">
                </div>
                <div class="text-center mt-5 ">
                    <form th:action="@{/cardChallenge/{deckId}/{cardIndex}/result(deckId=${deck.deckId},cardIndex=${cardIndex})}"
                     method="post" class="pb-5">
<!--                        <input type="hidden" name="result" id="result"/>-->
                        <button type="submit" name="result" value="again" class="btn btn-outline-secondary me-2">もう一度</button>
                        <button type="submit" name="result" value="difficult" class="btn btn-outline-secondary me-2">難しい</button>
                        <button type="submit" name="result" value="incorrect" class="btn btn-outline-secondary me-2">不正解</button>
                        <button type="submit" name="result" value="correct" class="btn btn-outline-secondary me-2">正解</button>
                        <button type="submit" name="result" value="easy" class="btn btn-outline-secondary me-2">簡単</button>
                    </form> 
            </div>
        </div>
        <script>
            document.getElementById('showAnswerButton').addEventListener('click', function() {
                document.getElementById('answerContainer').style.display = 'block';
                this.style.display = 'none';
            });
        </script>
		
		<!-- Lucide icon 起動 -->
		<script src="https://unpkg.com/lucide@latest"></script>
		<script>
		    lucide.createIcons();
		</script>
    </body>
</html>