<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カードメニュー</title>
</head>
<body>
    <div th:insert="~{common/sourceList :: sourceList}"></div>
    <div th:replace="~{common/header :: header}"></div>
    <div th:replace="~{common/menuHeader :: menuHeader}"></div>
    <div class = "container-fluid mx-auto text-center">
        <h2 class="text-center mt-5">カードメニュー</h2>
    <div class="mb-5 mt-5">
        <a th:href="@{/cardEditor}" class="btn btn-secondary">カード作成</a>
        <a th:href="@{/cardList}" class="btn btn-secondary">カード管理</a>
    </div>
    <div></div>
</body>
</html>