<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>カード一覧</title>
<style>
        .search-group {
            display: none;
        }
        .search-group.active {
            display: flex;
        }
</style>
</head>
<body>
<div th:insert="~{common/sourceList :: sourceList}"></div>
<div th:replace="~{common/header :: header}"></div>
<div th:replace="~{common/messageIcon :: messageIcon}"></div>
<script type="text/javascript" th:src="@{/js/cardList.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/deckList.js}"></script>-->
<div class="container d-flex mt-5">
	<div th:replace="~{common/sideMenu :: sideMenu}"></div>
	<main class="main-content">
		<div class="d-flex justify-content-center align-items-center pt-3">
		    <h2 class="me-3">カード管理</h2>
		    <button type="button" 
		            title="使い方"
					class="help-button"
					data-bs-toggle="modal" data-bs-target="#cardListModal">
		        ?
		    </button>
		</div>
			<div class="alert  d-flex align-items-center col-10 col-md-6 text-center mx-auto mt-5" 
			        th:classappend="${isError ? 'alert-danger' : 'alert-primary'}" 
			        role="alert" 
			        th:if="${message != null}" >
			    <svg class="bi flex-shrink-0 me-2" width="24" height="24">
			        <use xlink:href="#exclamation-triangle-fill" th:if="${isError}"/>
			        <use xlink:href="#info-fill" th:unless="${isError}"/>
			    </svg>
			    <span th:text="${message}"></span>
			</div>
		    <form th:action="@{/cardList}" method="post" th:object="${cardListForm}"
		    id="searchForm">
		        <div class="mt-1">
		            <div class="my-3">
		                <span>＜絞り込み検索条件＞</span>
		            </div>
		            <div class="align-items-center d-flex flex-row mb-3" style="max-width:500px;">
		                <label class="fw-bold text-start" style="width: 100px;">検索項目：</label>
		                <div class="">
		                    <select id="searchTypeSelect" onchange="showSearchField(this.value)" class="form-select flex-grow-1">
		                        <option value="">検索項目を選択</option>
		                        <option value="cardName">カード名</option>
		                        <option value="question">問題</option>
		                        <option value="answer">回答</option>
		                        <option value="rating">カード評価</option>
		                        <option value="deckName">デッキ名</option>
		                    </select>
		                </div>
		            </div>

		            <div class="search-group"  id="cardNameSearch">
		                <div class="row g-3 align-items-center mb-3">
		                  <div class="col-auto">
		                    <label class="col-form-label fw-bold" for="cardName">カード名：</label>
		                  </div>
		                  <div class="col-auto">
		                    <input type="text" id="cardName" class="form-control" th:field="*{cardName}">
		                  </div>
		                  <div class="col-auto">
		                    <span class="form-text">※部分一致</span>
		                  </div>
		                </div>
		            </div>

		            <div class="search-group"  id="questionSearch">
		                <div class="row g-3 align-items-center mb-3">
		                  <div class="col-auto">
		                    <label class="col-form-label fw-bold" for="question">問題：</label>
		                  </div>
		                  <div class="col-auto">
		                    <input type="text" id="question" class="form-control" th:field="*{question}">
		                  </div>
		                  <div class="col-auto">
		                    <span class="form-text">※部分一致</span>
		                  </div>
		                </div>
		            </div>

		            <div class="search-group" id="answerSearch">
		                <div class="row g-3 align-items-center mb-3">
		                  <div class="col-auto">
		                    <label class="col-form-label fw-bold" for="answer">解答：</label>
		                  </div>
		                  <div class="col-auto">
		                    <input type="text" id="answer" class="form-control" th:field="*{answer}">
		                  </div>
		                  <div class="col-auto">
		                    <span class="form-text">※部分一致</span>
		                  </div>
		                </div>
		            </div>

		            <div class="search-group" id="ratingSearch">
		                <div class=" align-items-center d-flex flex-row mb-3">
		                   <label class="col-form-label  fw-bold" for="cardResult">カード評価：</label>
		                    <div class="col-auto">
		                        <select th:field="*{cardResult}" class="form-select" id="cardResult">
		                            <option value="" selected>未選択</option>
		                            <option th:each="cardResult : ${cardResults}"
		                            th:value="${cardResult}"
		                            th:text="${cardResult.rating}"
		                            >
		                            </option>
		                        </select>
		                    </div>
		                </div>
		            </div>

		            <div class="search-group" id="deckNameSearch">
		                <div class=" align-items-center d-flex flex-row mb-3">
		                   <label class="col-form-label  fw-bold" for="deckInfo">デッキ名：</label>
		                    <div class="col-auto">
		                        <select th:field="*{deckId}" class="form-select" id="deckInfo">
		                            <option value="" selected>未選択</option>
		                            <option th:each="deckInfo : ${deckInfos}"
		                            th:value="${deckInfo.deckId}"
		                            th:text="${deckInfo.title}">
		                            </option>
		                        </select>
		                    </div>
		                </div>           
		            </div>

		            
		            
		            <div class="align-items-center d-flex flex-row mb-3" style="max-width:500px;">
		               <label class="fw-bold text-start" style="width:100px;">並び替え：</label>
		                <div class="">
		                    <select th:field="*{sortType}" class="form-select flex-grow-1">
		                        <option th:each="sortType : ${sortTypes}"
		                        th:value="${sortType}"
		                        th:text="${sortType.sortTypeDisplay}"
		                        th:selected="${sortType == cardListForm.sortType}">
		                        </option>
		                    </select>
		                </div>
		            </div>
		        </div>
				<div class="table-container">
					<div class="button-group d-flex justify-content-between">
						<div class="search-button">
						    <input type="submit" class="btn btn-success" name="search" value="検索">
						</div>
						<div class="">
						    <input type="text" th:field="*{selectedCardId}" hidden>
						    <input type="submit" class="btn btn-secondary" id="editBtn" name="edit" value="編集" disabled>
						    <input type="button" class="btn btn-danger" id="deleteDummyBtn" data-bs-toggle="modal" data-bs-target="#deleteConfirm" value="削除" disabled>
						    <input type="submit" id="deleteBtn" name="delete" hidden>
						</div>
					</div>
<!--					<div class="scrollbar" id="scrollbar">-->
<!--						<div class="inner"></div>-->
<!--					</div>-->
					<div class="mt-3 scrollbox" id="scrollbox">
						<div class="table-scroll-wrapper inner">
						        <table class="table table-striped" id="cardList">
						            <thead>
						                <tr>
						                    <th scope="col" class="no-wrap">No.</th>
						                    <th scope="col" hidden>カードid</th>
						                    <th scope="col">カード名</th>
						                    <th scope="col">問題</th>
						                    <th scope="col">解答</th>
						                    <th scope="col" class="no-wrap">カード評価</th>
						                    <th scope="col" class="no-wrap">デッキタイトル</th>
						                    <th scope="col" class="no-wrap">作成日</th>
						                    <th scope="col" class="no-wrap">更新日</th>
						                </tr>
						            </thead>
						            <tbody>
						                <tr th:each="card, stat  : ${cardList}">
						                    <th scope="row" th:text="${stat.count}"></th>
						                    <td th:id="|cardId_${stat.count}|" hidden><span th:text="${card.cardId}" hidden></span></td>
						                    <td th:id="|cardName_${stat.count}|"><span th:text="${#strings.length(card.cardName) > 10 ? #strings.substring(card.cardName,0,10) + '...' : card.cardName}"></span></td>
						                    <td th:id="|question_${stat.count}|"><span th:utext="${#strings.length(card.question) > 20 ? #strings.substring(card.question,0,20) + '...' : card.question}"></span></td>
						                    <td th:id="|answer_${stat.count}|"><span th:utext="${#strings.length(card.answer) > 20 ? #strings.substring(card.answer,0,20) + '...' : card.answer}"></span></td>
						                    <td th:id="|cardResult_${stat.count}|"><span th:text="${card.cardResult.rating} "></span></td>
						                    <td th:id="|deckInfo.title_${stat.count}|"><span th:text="${#strings.length(card.deckInfo.title) > 10 ? #strings.substring(card.deckInfo.title,0,10) + '...' : card.deckInfo.title}"></span></td>
						                    <td th:id="|createdAt_${stat.count}|"><span th:text="${#temporals.format(card.createdAt, 'yyyy-MM-dd HH:mm')}"></span></td>
						                    <td th:id="|updatedAt_${stat.count}|"><span th:text="${#temporals.format(card.updatedAt, 'yyyy-MM-dd HH:mm')}"></span></td>
						                </tr>
						            </tbody>
						        </table>
						</div>
<!--						<div class="mt-3">-->
<!--						    <input type="text" th:field="*{selectedCardId}" hidden>-->
<!--						    <input type="submit" class="btn btn-secondary" id="editBtn" name="edit" value="編集" disabled>-->
<!--						    <input type="button" class="btn btn-danger" id="deleteDummyBtn" data-bs-toggle="modal" data-bs-target="#deleteConfirm" value="削除" disabled>-->
<!--						    <input type="submit" id="deleteBtn" name="delete" hidden>-->
<!--						</div>-->
					</div>


				</div>

		    </form>
		

	</main>
</div>
<script>
        function showSearchField(type) {
            // すべての検索フィールドを非表示
            document.querySelectorAll('.search-group').forEach(function(elem) {
                elem.classList.remove('active');
            });
            
            // 選択された検索フィールドのみ表示（typeが空でない場合のみ）
            if (type) {
                document.getElementById(type + 'Search').classList.add('active');
            }
        }
    </script>
	<div th:replace="~{common/modal :: modal}"></div>
	<div th:replace="~{modal/cardListModal :: cardListModal}"></div>
<!-- 削除確認モーダルの設定 -->
<div class="modal fade" id="deleteConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">削除前確認</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                本当に削除してもよろしいですか？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-danger" id="deleteOkBtn">削除する</button>
            </div>
        </div>
    </div>
</div>
<!-- Lucide icon 起動 -->
<script src="https://unpkg.com/lucide@latest"></script>
<script>
    lucide.createIcons();
</script>

</body>
</html>
