<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>デッキ作成</title>
</head>
<body>
    <div th:insert="~{common/sourceList :: sourceList}"></div>
    <div th:replace="~{common/header :: header}"></div>
    <div th:replace="~{common/menuHeader :: menuHeader}"></div>
    <div th:replace="~{common/messageIcon :: messageIcon}"></div>
    <div class = "container-fluid mx-auto text-center mt-5 pt-3 w-75">
        <h1 class="text-center  h2">デッキ作成</h1>
        <div class="alert  d-flex mx-auto align-items-center col-6" 
                th:classappend="${isError ? 'alert-danger' : 'alert-primary'}" 
                role="alert" 
                th:if="${message != null}" >
            <div class="d-flex align-items-center w-100">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24">
                    <use xlink:href="#exclamation-triangle-fill" th:if="${isError}"/>
                    <use xlink:href="#info-fill" th:unless="${isError}"/>
                </svg>
                <span class="w-100 text-start ps-3" th:utext="${message}"></span>
            </div>
        </div>
        <form class="form-group text-center" th:action ="@{/createDeck}" enctype="multipart/form-data" method="post" th:object = "${deckForm}">
            <div class="mx-auto mt-4">
                <div class="mt-4">
                    <div>
                        <label class="fw-bold">タイトル</label>
                    </div>
                    <input class="col-6"  type="text" th:field="*{title}">
                    <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                </div>
                <div class="mt-4">
                    <div><label class="fw-bold">説明</label></div>
                    <textarea class="col-6" th:field="*{description}" style="white-space: pre-wrap;"></textarea>
                    <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                </div>
                <div class="mt-4 mb-4">
                    <div class="mb-3"><label class="fw-bold">デッキ画像</label></div>
                    <input type="file" th:field="*{imageFile}">
                </div>
                <input class="btn btn-success" type ="submit" value="作成">
            </div>
        </form>
    </div>
    
</body>
</html>