<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>デッキメニュー</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
</head>
<body>
    <div th:insert="~{common/sourceList :: sourceList}"></div>
    <div th:replace="~{common/header :: header}"></div>
    
	<div class="container d-flex">
		<div th:replace="~{common/sideMenu :: sideMenu}"></div>
		<main class = "container mt-5 main-content">
			<div class="row gy-4 d-flex justify-content-center mx-auto">
				<h1 class="text-center py-3">デッキメニュー</h1>
				<div class="col-12">
					<div class="menu-card text-center">
					  <h2 class="h5 mb-4">デッキメニュー</h2>
					  <div class="row g-3 justify-content-center">
					    <div class="col-12 col-sm-6">
					      <a th:href="@{/createDeck}" class="btn btn-outline-secondary menu-btn">
					        <i data-lucide="folder-plus" class="me-2"></i>デッキ作成
					      </a>
					    </div>
						<div class="col-12 col-sm-6">
						  <a th:href="@{/deckList}" class="btn btn-success menu-btn">
						    <i data-lucide="folder-cog" class="me-2"></i>デッキ管理
						  </a>
						</div>
					  </div>
					</div>
				</div>
			</div>
    	</main>
	</div>

	<!-- Lucide icon 起動 -->
	<script src="https://unpkg.com/lucide@latest"></script>
	<script>
	    lucide.createIcons();
	</script>

</body>
</html>