<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ユーザー一覧</title>
</head>
<body>
<div th:insert="~{common/sourceList :: sourceList}"></div>
<div th:replace="~{common/header :: header}"></div>
<div th:replace="~{common/messageIcon :: messageIcon}"></div>
<script type="text/javascript" th:src="@{/js/deckList.js}"></script>
<div class="container d-flex">
	<aside th:replace="~{common/sideMenu :: sideMenu}"></aside>
	<main class="mt-5 main-content">
	    <h2 class="text-center">デッキ管理</h2>
	    <div class="alert  d-flex align-items-center mt-3 w-50 mx-auto"  role="alert"th:classappend="${isError ? 'alert-danger' : 'alert-primary'}" th:if="${message != null}">
	        <svg class="bi flex-shrink-0 me-2" width="24" height="24">
	            <use xlink:href="#exclamation-triangle-fill" th:if="${isError}"/>
	            <use xlink:href="#info-fill" th:unless="${isError}"/>
	        </svg>
	        <span th:text="${message}"></span>
	    </div>
	    <form th:action="@{/deckList}" method="post" th:object="${deckListForm}">
	        <div class="mt-1">
	            <div class="my-3">
	                <span>＜絞り込み検索条件＞</span>
	            </div>
	            <div class="row g-3 align-items-center mb-3">
	              <div class="col-auto">
	                <label for="titleSearch" class="col-form-label">タイトル：</label>
	              </div>
	              <div class="col-auto">
	                <input type="text" class="form-control" th:field="*{title}">
	              </div>
	              <div class="col-auto">
	                <span class="form-text">※部分一致</span>
	              </div>
	            </div>
	            <div class=" align-items-center d-flex flex-row">
	               <label class="col-form-label">並び替え：</label>
	                <div class="">
	                    <select th:field="*{sortType}" class="form-select">
	                        <option th:each="sortType : ${sortTypes}"
	                        th:value="${sortType}"
	                        th:text="${sortType.sortTypeDisplay}"
	                        th:selected="${sortType == deckListForm.sortType}">
	                        </option>
	                    </select>
	                </div>
	            </div>

	            <input type="submit" class="btn btn-success mt-3" name="search" value="検索">

	        </div>

	        
	        <div class="my-3 table-responsive w-100">
	                <table class="table table-striped" id="deckList">
	                    <thead>
	                        <tr>
	                            <th scope="col">No.</th>
	                            <th scope="col" hidden>デッキID</th>
	                            <th scope="col">タイトル</th>
	                            <th scope="col">説明</th>
	                            <th scope="col" class="no-wrap">作成日</th>
	                            <th scope="col" class="no-wrap">更新日</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr th:each="deck, stat  : ${deckList}">
	                            <th scope="row" th:text="${stat.count}"></th>
	                            <td th:id="|deckId_${stat.count}|" hidden><span th:text="${deck.deckId}"></span></td>
	                            <td th:id="|title_${stat.count}|"><span th:text="${#strings.length(deck.title) > 10 ? #strings.substring(deck.title,0,10) + '...' : deck.title}"></span></td>
	                            <td th:id="|description_${stat.count}|"><span th:text="${#strings.length(deck.description) > 20 ? #strings.substring(deck.description,0,20) + '...' : deck.description}"></span></td>
	                            <td th:id="|createdAt_${stat.count}|"><span th:text="${#temporals.format(deck.createdAt, 'yyyy-MM-dd HH:mm')}"></span></td>
	                            <td th:id="|updatedAt_${stat.count}|"><span th:text="${#temporals.format(deck.updatedAt, 'yyyy-MM-dd HH:mm')}"></span></td>
	                        </tr>
	                    </tbody>
	                </table>
	                <div class="my-3">
	                    <input type="text" th:field="*{selectedDeckId}" hidden>
	                    <input type="submit" class="btn btn-secondary" id="editBtn" name="edit" value="編集" disabled>
	                    <input type="button" class="btn btn-danger" id="deleteDummyBtn" data-bs-toggle="modal" data-bs-target="#deleteConfirm" value="削除" disabled>
	                    <input type="submit" id="deleteBtn" name="delete" hidden>
	                </div>
	        </div>
	    </form>
	</main>
</div>


<!-- 削除確認モーダルの設定 -->
<div class="modal fade" id="deleteConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">削除前確認</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                本当に削除してもよろしいですか？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                <button type="button" class="btn btn-danger" id="deleteOkBtn">削除する</button>
            </div>
        </div>
    </div>
	
	<!-- Lucide icon 起動 -->
	<script src="https://unpkg.com/lucide@latest"></script>
	<script>
	    lucide.createIcons();
	</script>

</div>
</html>
